MXitConnectionModule/Service References/ExternalAppAPI/MXit.OAuth2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MXit.OAuth2" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MXit.OAuth2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MXit.Async" />
  <xs:complexType name="TokenRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Context" nillable="true" type="xs:anyType" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Scope" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TokenRequest" nillable="true" type="tns:TokenRequest" />
  <xs:complexType name="TokenResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/MXit.Async" base="q2:AsyncOperationInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccessToken" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AuthorizationResult" type="tns:AuthorizationResult" />
          <xs:element minOccurs="0" name="ContactName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OpenIdToken" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RefreshToken" nillable="true" type="xs:string" />
          <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Scope" nillable="true" type="q3:ArrayOfstring" />
          <xs:element minOccurs="0" name="TokenExpiry" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TokenResponse" nillable="true" type="tns:TokenResponse" />
  <xs:simpleType name="AuthorizationResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Allow" />
      <xs:enumeration value="AlwaysAllow" />
      <xs:enumeration value="Deny" />
      <xs:enumeration value="Timeout" />
      <xs:enumeration value="Logout" />
      <xs:enumeration value="Cancelled" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AuthorizationResult" nillable="true" type="tns:AuthorizationResult" />
</xs:schema>